

<button (click)="tick(0,0)" >{{ table[0][0] | xo }}</button>
<button (click)="tick(0,1)" >{{ table[0][1] | xo }}</button>
<button (click)="tick(0,2)" >{{ table[0][2] | xo }}</button> <br />
<button (click)="tick(1,0)" >{{ table[1][0] | xo }}</button>
<button (click)="tick(1,1)" >{{ table[1][1] | xo }}</button>
<button (click)="tick(1,2)" >{{ table[1][2] | xo }}</button> <br />
<button (click)="tick(2,0)" >{{ table[2][0] | xo }}</button>
<button (click)="tick(2,1)" >{{ table[2][1] | xo }}</button>
<button (click)="tick(2,2)" >{{ table[2][2] | xo }}</button>
<button (click)="newGame()">New Game</button>
